{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_group_edit' %}

{% block main %}
    <h1>Update group: {{ group.name }}</h1>

    {{ include('admin/group/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/group/_delete_group_confirmation.html.twig', {group: group}, with_context = false) }}
    </div>

{% endblock %}
